/* cores apenas para exibir demonstração do limite */

body {
    background-color: #93B5FF;
    color: #fff;
    font-family: "Helvetica", "Tahoma", sans-serif;
}
.content-area {
    width: 1020px;
    margin: auto;
}
header, footer {
    background-color: #0A00D1;
}
article {
    background-color: #0041CF;
}
